@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.cardBack-title {
  color: lightblue;
  font-size: 3.5rem;
}

.card-ul-list {
  font-size: 2em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383343;
  background: linear-gradient(120deg, #000000, #ffffff);
}

.title_head1 {
  text-align: center;
  position: block;
  margin: auto 0;
  padding: 1em;
}

